<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Artist APP 
      <ion-icon aria-hidden="true" src="assets/icons/logout.svg" (click)="logout()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 5</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="loggedInArtist">
    <ion-card-header>
      <ion-card-title>Nombre artístico:  {{ loggedInArtist.artistName }}</ion-card-title>
      <ion-card-subtitle>Nombre {{ loggedInArtist.name }}<br>Email: {{ loggedInArtist.email }}  <br>   Edad: {{ loggedInArtist.age }}</ion-card-subtitle>
      <ion-card-subtitle>{{ loggedInArtist.ccaa }} ;  {{ loggedInArtist.province }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <!-- Mostrar otras propiedades del usuario aquí -->
    </ion-card-content>
  </ion-card>
</ion-content>
